@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.2781 0.0296 256.8480);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2781 0.0296 256.8480);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2781 0.0296 256.8480);
  --primary: oklch(0.6323 0.2265 33.5068);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0.2781 0.0296 256.8480);
  --muted: oklch(0.9310 0 0);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9454 0.0281 36.8660);
  --accent-foreground: oklch(0.2781 0.0296 256.8480);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.6323 0.2265 33.5068);
  --chart-1: oklch(0.6323 0.2265 33.5068);
  --chart-2: oklch(0.8313 0.1285 67.6520);
  --chart-3: oklch(0.7842 0.1463 151.4250);
  --chart-4: oklch(0.9105 0.0515 166.5838);
  --chart-5: oklch(0.7161 0.0091 56.2590);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-primary: oklch(0.6323 0.2265 33.5068);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9454 0.0281 36.8660);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.6323 0.2265 33.5068);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0.0;
  --shadow-color: #000000;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2603 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2603 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6323 0.2265 33.5068);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8313 0.1285 67.6520);
  --secondary-foreground: oklch(0.2781 0.0296 256.8480);
  --muted: oklch(0.2972 0 0);
  --muted-foreground: oklch(0.8717 0.0093 258.3382);
  --accent: oklch(0.8313 0.1285 67.6520);
  --accent-foreground: oklch(0.2781 0.0296 256.8480);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3600 0 0);
  --input: oklch(0.2972 0 0);
  --ring: oklch(0.6323 0.2265 33.5068);
  --chart-1: oklch(0.6323 0.2265 33.5068);
  --chart-2: oklch(0.8313 0.1285 67.6520);
  --chart-3: oklch(0.7842 0.1463 151.4250);
  --chart-4: oklch(0.9105 0.0515 166.5838);
  --chart-5: oklch(0.7161 0.0091 56.2590);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6323 0.2265 33.5068);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8313 0.1285 67.6520);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-border: oklch(0.3600 0 0);
  --sidebar-ring: oklch(0.6323 0.2265 33.5068);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0.0;
  --shadow-color: #000000;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}